* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: #333;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
}

p {
  font-size: var(--font-size-medium);
  line-height: 1.5;
  margin-top: 10px; 
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
} 

a:hover {
  color: var(--primary-color); 
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}


header{
  background: linear-gradient(to right, #3498db, #2ecc71); 
  color: white;
  padding: 1em;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

h1 {
  font-size: 28px; 
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}


nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px; 
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: white;
  font-weight: bold; 
  font-size: 16px; 
  transition: color 0.3s ease-in-out; 
}

nav a:hover {
  color: #f39c12; 
}



nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  width: 60%;
  margin: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  text-align: center;
}

.products_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-template-columns: repeat(5, 17%);
  grid-auto-rows: 48%;
  gap: 3%;
  padding: 20px;
}

.product {
  flex: 0 0 calc(17% - 20px); /* Calcula el ancho de cada producto con espacio entre ellos */
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

.additional-section {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 20px;
}

.additional-section article {
  margin-bottom: 20px; 
  background-color: #f8f8f8; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.additional-section article:first-child {
  margin-top: 20px;
}

.additional-section h3 {
  color: var(--primary-color); 
  margin-bottom: 10px; 
}


.additional-section p {
  font-size: var(--font-size-medium);
  line-height: 1.5;
  margin-bottom: 15px;
}

.additional-section li {
  font-size: var(--font-size-medium);
  line-height: 1.5;
  margin-bottom: 8px;
}

@media screen and (min-width: 376px) and (max-width: 768px) {
main {
  flex-direction: row; 
}

.featured-products,
.additional-section {
  width: 50%; 
  margin: 20px 0;
}

.products_gallery {
  justify-content: space-around;
}

.product {
  flex: 0 0 calc(48% - 20px);
}
}

@media screen and (max-width: 375px) {
  .product {
      flex: 0 0 100%;
  }
}

h2,
h3 {
  color: var(--primary-color);
}

p {
  font-size: var(--font-size-medium);
  line-height: 1.5;
}

footer {
  background: linear-gradient(to right, #3498db, #2ecc71);
  color: white;
  padding: 1em;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px; 
}

.footer-text {
  font-size: var(--font-size-small);
}
